
<h2><%= @article.title %></h2>
<p>
  <%= @article.text %>
</p>

<p>
  <strong>Posted by </strong>
  <%= @article.user.first_name %> <%= @article.user.last_name %> @
  <em><%= @article.created_at%></em>
</p>
